__init() {
    if ! command -v ws >/dev/null 2>&1; then
        return
    fi

    wspath=$(ws root) || {
        echo "error: could not determine project root" >&2
        return
    }

    if [[ -d "${wspath}/.ws/bin" ]]; then
        PATH_add ${wspath}/.ws/bin
    else
        echo "error: workspace root is empty" >&2
    fi
}

__init
